<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/ADMIN.CSS">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

                       <!-- font link -->
    <!-- zen dots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <!-- odibee -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <title>Document</title>

</head>

<body>   
  
     <header>
        <!-- align-items-center -->
        <nav class="navbar navbar-expand-lg px-5 align-text-center"> 
            <div class="container-fluid flex-lg-column">
                <a class="navbar-brand d-flex align-items-center" href="/">
                <img  src="/public/img/log.png"  alt="Logo" width="40" height="40" class="d-inline-block align-text-top ">
                <!-- <b >Bootstrap</b> -->
                <h2 class="text-white ms-4 my-0"><b>PlayTform</b></h2>
              </a>
              
              <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                  <a class="nav-link active" aria-current="page"href="/">DASHBOARD</a>
                  <a class="nav-link" href="#">PRODUCT</a>
                  <a class="nav-link" href="#">COSTAMER</a>
                  <a class="nav-link" href="#">COUPEN</a>
                  <a class="nav-link" href="#">CATEGORY</a>
                  <a class="nav-link" href="#">LOG-OUT</a>


                 
                </div>
              </div>
            </div>
          </nav>
    
    </header>
 <div class="container d-flex flex-column"> 
  <% if(local.project){%>
  <%project.forEach(project=>{ %>
  <div class="box my-2 d-flex border border-light rounded ">
  <div class="row d-flex flex-column mx-2 text-light pt-1">
    <div class="col">NAME</div>
    <div class="col">EMAIL</div>
    <div class="col">PASSWORD</div>
  </div>
  <div class="row d-flex flex-column mx-2 py-1 ">
    <div class="col">
      <input type="text" name="password" id="password"  value="<%= project.name%>" required>

    </div>
    <div class="col">
      <input type="text" name="password" id="password" placeholder="Enter your password" value="<%= project.email%>" required>

    </div>
    <div class="col">
      <input type="text" name="password" id="password" placeholder="Enter your password" value="<%= project.password%>" required>

    </div>
  </div>
  <div class="row mx-2 py-1">

    <button type="submit " class="btn-sub  text-light "><b>Block</b></button>
    <button type="submit " class="btn-sub  text-light "><b>UnBlock</b></button>
  </div>
</div>
<% })%>
<%} else {%>
<h1>There Is No costamers</h1>
<%}%>
</div>

    <footer>
    </footer>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>


