     @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

     body {
         background: radial-gradient(#6c0790, #42025f, #000000) no-repeat;
         background-size: cover;
         min-height: 100vh;
         box-sizing: border-box;
         margin: 0px;
         font-size: 0rem;
     }

     nav {
         display: flex !important;
         align-items: center !important;
     }

     nav h2 {
         font-family: 'Odibee Sans', cursive;
         color: #fff;
     }

     #nav-icon {
         background: rgb(255, 255, 255);
         /* background-color : black !important; */
     }

     #icon {
         background-color: rgb(236, 236, 236);

     }

     .nav-link {
         color: #fff !important;
         font-size: x-large !important;
         font-family: 'Zen Dots', cursive !important;
     }

     .home {
         background-image: url(/public/img/home-img.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         /* opacity: .25; */
         color: #fff;

         /* font-size: x-large ; */
         font-family: 'Zen Dots', cursive;
     }

     .home-btn {
         color: #fff !important;
         font-size: x-large !important;
         font-family: 'Zen Dots', cursive !important;
         background-color: transparent;
         border: 5px solid rgb(255, 255, 255);
         border-radius: 1em;
     }

     .home-btn:hover {
         color: blue !important;
         cursor: pointer;
         border: 5px solid rgb(17, 36, 238);
         border-radius: 1em;
     }



     /* login-signin  css */
     .container {
         justify-content: center;
     }

     .form-container {
         height: 100vh;
         justify-content: center;
         align-items: center;
         width: 35rem;
         /* font-size: large; */
     }

form{

         border: 1px solid #fff;
         border-radius: 10px;
         align-items: center;
         width: inherit;

     }

     .form-container input {
         /* justify-content: center; */
         padding: 5px 0px 5px !important;
         width: 100%;
         margin: 5px 0 !important;
         border: 3px solid #fff !important;
         border-radius: 10px;
         box-sizing: border-box;
         cursor: pointer !important;

     }

     .btn-sub {
         background-color: transparent;
         padding: 1rem 5rem;
         border-radius: 10px;
         text-align: center;
         border: 3px solid #fff !important;
     }

     .btn-sub:hover {
         background-color: blue !important;
         border: 3px solid blue !important;
     }

     /*----------otp-box-----------*/
     .popup_box {
         position: absolute;
         width: fit-content;
         height: fit-content;
         background-color: rgba(70, 10, 92) !important;      
         box-shadow: 0px 5px 10px rgb(4, 4, 4);

     }
     /* --------------------------now one------------ */
     .list {
        display: none ;
        position: absolute;
        z-index:    1;
        width: 100%;
        /* display: flex;
        display: list-item; */
     }
  .show {
    display: block;
  }
 /* ----------------------------- */

  .multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
