
  <footer>
    <div class="container-fluid  text-white">
      <div class="container my-5">
        <div class="row text-center fs-1 fw-bold">
          <div class="col">
            <i class="bi bi-shield-check text-light"></i>
          </div>
          <div class="col"><i class="bi bi-wallet-fill text-light"></i></div>
          <div class="col"><i class="bi bi-headset text-light"></i></div>
        </div>
      </div>
      <div class="bg-dark">
        <div class="container">
          <div class="row ">
            <div class="row py-5">
              <div class=" d-flex align-items-center">

                <h2 class="m-auto"><b>PlayTform</b></h2>
                <h4 class="m-auto d-none d-md-block">Platform For True Gamers . Play Unlimited Games</h4>
              </div>

            </div>
            <hr>
            <div class="row my-3">
              <div class="col d-flex flex-column gap-4">
                <h3 class="my-5 hd">CONTACT</h3>
                <h5>+91 7788994455</h5>
                <h5>PLAYTFORM@gmail.com</h5>
                <h5>
                  BusinessPark Commercial <br>
                  Complex,near Highlight Mall,<br>
                  Kozhikode, Kerela 676553
                </h5>
              </div>
              <div class="col d-flex flex-column gap-4">
                <h3 class="my-5  hd">CATEGORIES</h3>
                <h5>PlayStation</h5>
                <h5>Virtual Reality</h5>
                <h5>Computer</h5>
              </div>
              <div class="col d-flex hd flex-column gap-4 ">
                <h3 class="my-5">FOLLOW US</h3>
                <span class="d-flex  fs-1 fw-bold">
                  <i class="bi bi-facebook"></i>
                  <h5 class="m-auto">PLAYTFORM</h5>
                </span>
                <span class="d-flex  fs-1 fw-bold">
                  <i class="bi bi-youtube"></i>
                  <h5 class="m-auto">PLAYTFORM</h5>
                </span>
                <span class="d-flex  fs-1 fw-bold">
                  <i class="bi bi-twitch"></i>
                  <h5 class="m-auto">PLAYTFORM</h5>
                </span>
                <span class="d-flex  fs-1 fw-bold">
                  <i class="bi bi-twitter"></i>
                  <h5 class="m-auto">PLAYTFORM</h5>
                </span>
              </div>

            </div>

          </div>
          <hr>
          <div class="row  text-center">
            <p class="my-5 fw-light">copyright &copy; PLAYTFORM PVT LTD</p>
          </div>
        </div>
      </div>
    </div>


  </footer>