@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    background: radial-gradient(#6c0790, #42025f, #000000) no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  color: #27253d;
  width: 100%;
}
.box-shadow {
    box-shadow:15px 15px 10px rgb(6 6 6);
}
.hd {
    font-family: 'Zen Dots', cursive !important;

}
.p{
    font-family: 'Odibee Sans', cursive;

}
.overflow{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type:mandatory;
}
.hidden {
    display: none;
  }
  
  .pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }

nav {
    display: flex !important;
    align-items: center !important;
}

nav h2 {
    font-family: 'Odibee Sans', cursive;
    color: #fff;
}

#nav-icon {
    background: rgb(255, 255, 255);
    /* background-color : black !important; */
}

#icon {
    background-color: rgb(236, 236, 236);

}

.nav-link {
    color: #fff !important;
    font-size: x-large !important;
    font-family: 'Zen Dots', cursive !important;
}
.bar{
    height: 30rem;
    position: relative;

    /* padding: auto; */
}
.bar img{

    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px outset black;
    border-radius: 30px;
    box-shadow:15px 15px 10px rgb(6 6 6);

}
.products{
   max-height:30rem !important;
    width: inherit;
    overflow-y: overlay;
    /* position: absolute !important; */

}

.product img{
  height: 6rem; 
  width: 5rem; 
border-radius: 10px;
}

/*
.home {
       position: absolute;
    bottom: 5px;
    right: 0px;
    background-image: url(/public/img/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .25; */
    /* color: #fff; */

    /* font-size: x-large ; */
    /* font-family: 'Zen Dots', cursive;
} */

/* .home-btn {
    color: #fff !important;
    font-size: x-large !important;
    font-family: 'Zen Dots', cursive !important;
    background-color: transparent;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1em;
}

.home-btn:hover {
    color: blue !important;
    cursor: pointer;
    border: 5px solid rgb(17, 36, 238);
    border-radius: 1em;
} */



/* login-signin  css */
.container {
    justify-content: center;
}
/* 
.form-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 35rem; */
    /* font-size: large; */
/* } */

/* form{

    border: 1px solid #fff;
    border-radius: 10px;
    align-items: center;
    width: inherit;

} */

/* .form-container input { */
    /* justify-content: center; */
    /* padding: 5px 0px 5px !important;
    width: 100%;
    margin: 5px 0 !important;
    border: 3px solid #fff !important;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer !important;

} */

/* .btn-sub {
    background-color: transparent;
    padding: 1rem 5rem;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #fff !important;
}

.btn-sub:hover {
    background-color: blue !important;
    border: 3px solid blue !important;
} */


