@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    background: radial-gradient(#6c0790, #42025f, #000000) no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  color: #27253d;
  width: 100%;
}
.box-shadow {
    box-shadow:15px 15px 10px rgb(6 6 6);
}
.hd {
    font-family: 'Zen Dots', cursive !important;

}
.p{
    font-family: 'Odibee Sans', cursive;

}
.overflow{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type:mandatory;
}
.hidden {
    display: none;
  }
  
  .pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }

nav {
    display: flex !important;
    align-items: center !important;
}

nav h2 {
    font-family: 'Odibee Sans', cursive;
    color: #fff;
}

#nav-icon {
    background: rgb(255, 255, 255);
    /* background-color : black !important; */
}

#icon {
    background-color: rgb(236, 236, 236);

}

.nav-link {
    color: #fff !important;
    font-size: x-large !important;
    font-family: 'Zen Dots', cursive !important;
}
.bar{
    height: 30rem;
    position: relative;
}
.bar img{

    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px outset black;
    border-radius: 30px;
    box-shadow:15px 15px 10px rgb(6 6 6);

}
.products{
   max-height:30rem !important;
    width: inherit;
    overflow-y: overlay;
}

.product img{
  height: 6rem; 
  width: 5rem; 
border-radius: 10px;
}

.container {
    justify-content: center;
}
