@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    background: radial-gradient(#6c0790, #42025f, #000000) no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    font-size: 0rem;
}
/* ----------nav-bar--------- */


nav {
    display: flex !important;
    align-items: center !important;
}

nav h2 {
    font-family: 'Odibee Sans', cursive;
    color: #fff;
}
.nav-link {
    color: #fff !important;
    font-size: x-large !important;
    font-family: 'Zen Dots', cursive !important;
}
.head{
font-family: 'Odibee Sans', cursive;
}
