  
     <header>
        <!-- align-items-center -->
        <nav class="navbar navbar-expand-lg px-5 align-text-center"> 
            <div class="container-fluid flex-lg-column">
                <a class="navbar-brand d-flex align-items-center" href="/">
                <img  src="/public/img/log.png"  alt="Logo" width="40" height="40" class="d-inline-block align-text-top ">
                <!-- <b >Bootstrap</b> -->
                <h2 class="text-white ms-4 my-0"><b>PlayTform</b></h2>
              </a>
              
              <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                  <!-- <a class="nav-link active" aria-current="page"href="#">DASHBOARD</a> -->
                  <a class="nav-link" href="/admin-product">PRODUCT</a>
                  <a class="nav-link" href="/admin-customer">COSTAMER</a>
                  <a class="nav-link" href="/coupen">COUPEN</a>
                  <a class="nav-link" href="/category">CATEGORY</a>
                  <a class="nav-link" href="/admin-out">LOG-OUT</a>


                 
                </div>
              </div>
            </div>
          </nav>
    
    </header>